body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/city.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  position: relative;
}

section {
  font-size: 200px;
  opacity: 0.8;
  color: white;
  margin-left: 33%;

}

article {
  font-size: 100px;
  margin-left: 38%;
  margin-top: -18%;
}

button {

  border: none;
  background: none;
  display: inline-block;
  color: white;
  opacity: 0.8;
}

aside {
  transform: scale(0.2, 0.2);
  margin-left: 9%;
  margin-top: -13%;
}

.reset {
  color: maroon;
}




