body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/city.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  position: relative;
}

section p {

  position: absolute;
  font-size: 160px;
  opacity: 0.8;
  color: white;
  margin-left: 36%;
  margin-top: 18%;

}

article {

  position: absolute;
  font-size: 90px;
  margin-left: 40%;
  margin-top: 27%;
}

button {

  border: none;
  background: none;
  display: inline-block;
  color: white;
  opacity: 0.8;
}

aside {
  position: absolute;
  transform: scale(0.2, 0.2);
  margin-left: 34%;
  margin-top: 24%;

}

header {
  position: absolute;
  text-align: center;
  font-family: Code Light; /* Code Light */
  font-size: 20px;
  margin-left: 39%;
  margin-top: 4%;
  width: 20%;
  letter-spacing: 2px;

}



.weather {
  color: white;
  text-transform: capitalize;

}

.city_display {
  color: white;
}

.city_temperature {
  color: white;
  line-height: 10px;

}



.getWeather {
    float: left;
    width: auto;
    visibility: hidden;
}


input.city {
  position: absolute;
  border-radius: 25px;
  text-align: center;
  width: 20%;
  opacity: 0.8;
  float: left;
  margin-top: 15%;
  margin-left: 36%;
}


.reset {
  color: maroon;
}

.text--red {
  color: red;
}

.text--orange {
  color: orange;
}

.text--green {
  color: green;
}

::-webkit-input-placeholder {
  font-family: Open Sans;
  font-size: 90%;
}






